@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'socials';
@import 'slider';
@import 'animate';
@import 'loader';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
  }

body {
    min-height: 100%;
    font-size: 1.6rem;
    color: #444444;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 125px);
    gap: 30px;
    &--c4 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 150px);
        gap: 0;
    }
    &__item {
        // background-color: #8f5b5b;
        grid-row: span 2;
        &--2w {
            grid-column: span 2;
        }
        &--2h {
            grid-row: span 4;
        }
        &--1-5h {
            grid-row: span 3;
        }
    
    }
}

.poster {
    position: relative;
    height: 100%;
    overflow: hidden;
    &--dark {
        background-color: #000000;
    }
    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-width: 100%;
        .poster--dark & {
            opacity: 0.3;
        }
    }
}



